@if (User.Identity.IsAuthenticated)
{
    <ul>
        <li>@HttpContext.Current.User.Identity.Name</li>
        <li>@Html.ActionLink("Выход", "LogOff", "Account")</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Вход", "Login", "Account")</li>
        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
    </ul>
}